<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "=//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kopo.poly.persistance.mapper.IAdminMapper">
    <!-- admin 유저 정보 출력 쿼리 -->
    <select id="getMembersInfo" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT * FROM (
                          SELECT ROW_NUMBER() OVER (ORDER BY user_seq) NUM, U.*
                          FROM USER_INFO U
                          WHERE U.USER_NAME LIKE '%'||#{user_name}||'%'
                          ORDER BY USER_SEQ desc
                      )
        WHERE NUM BETWEEN #{start} AND #{finish}
    </select>

    <select id="getMembersCount" parameterType="UserInfoDTO" resultType="int">
        SELECT count(*) FROM USER_INFO
    </select>

    <delete id="delMembers" parameterType="UserInfoDTO">
        DELETE FROM USER_INFO
        WHERE USER_SEQ = #{user_seq}
    </delete>
</mapper>
