<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "=//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kopo.poly.persistance.mapper.IAdminMapper">
    <!-- admin 유저 정보 출력 쿼리 -->
    <select id="getMembersInfo" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT *
        FROM USER_INFO
        ORDER BY USER_SEQ DESC
        LIMIT #{start}, #{finish};
    </select>

    <select id="getMembersCount" parameterType="UserInfoDTO" resultType="int">
        SELECT count(*) FROM USER_INFO WHERE USER_NAME LIKE CONCAT('%',#{user_name},'%')
    </select>

    <delete id="delMembers" parameterType="UserInfoDTO">
        DELETE FROM USER_INFO
        WHERE USER_SEQ = #{user_seq}
    </delete>

<!-- 마켓 검색 -->
    <select id="getMarketInfo" parameterType="MarketDTO" resultType="MarketDTO">
        SELECT M.*, U.USER_NAME
        FROM MARKET M
        JOIN USER_INFO U
        ON M.USER_SEQ = U.USER_SEQ
        WHERE M.TITLE LIKE CONCAT('%',#{title},'%')
        ORDER BY M.MK_SEQ DESC
        LIMIT #{start}, #{finish}
    </select>

    <select id="getMarketCount" parameterType="MarketDTO" resultType="int">
        SELECT count(*) FROM MARKET
    </select>
</mapper>
