<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "=//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kopo.poly.persistance.mapper.IMarketMapper">

    <!-- 상품 리스트 쿼리 -->
    <select id="getMarketList" resultType="MarketDTO">
        SELECT M.*, U.USER_NAME
        FROM MARKET M JOIN USER_INFO U
                           ON M.USER_SEQ = U.USER_SEQ
        WHERE M.TITLE LIKE '%'||#{title}||'%'
        ORDER BY M.MK_SEQ DESC
            LIMIT #{start}, #{finish};
    </select>

    <select id="getMarketCount" parameterType="MarketDTO" resultType="int">
        SELECT count(*) FROM MARKET WHERE TITLE LIKE '%'||#{title}||'%'
    </select>

    <!-- 상품 등록 쿼리 -->
    <insert id="InsertMarketInfo" parameterType="MarketDTO">
        INSERT INTO MARKET
            (NOTICE_YN, USER_SEQ, TITLE, CONTENTS, MK_DATE, PRICE, READ_CNT, THUMBNAIL)
        VALUES
               'N', #{user_seq}, #{title}, #{contents}, SYSDATE, #{price}, #{read_cnt}, #{thumbnail})
    </insert>

    <!-- 상품 상세보기 쿼리 -->
    <select id="getMarketInfo" resultType="MarketDTO">
        SELECT M.MK_SEQ, M.USER_SEQ, M.TITLE, M.READ_CNT, U.USER_NAME, M.CONTENTS, M.price, TO_CHAR(M.MK_DATE, 'YYYY-MM-DD') AS MK_DATE
        FROM MARKET M
        JOIN USER_INFO U
        ON M.USER_SEQ = U.USER_SEQ
        WHERE M.MK_SEQ = #{mk_seq}
    </select>

    <!-- 조회수 증가 쿼리 -->
    <update id="updateMarketReadCnt" parameterType="MarketDTO">
        UPDATE MARKET SET
            READ_CNT = READ_CNT + 1
        WHERE
            MK_SEQ = #{mk_seq}
    </update>

    <!-- 상품 수정 쿼리 -->
    <update id="updateMarketInfo" parameterType="MarketDTO">
        UPDATE MARKET SET
            TITLE = #{title},
            USER_SEQ = #{user_seq},
            PRICE = #{price},
            CONTENTS = #{contents},
            THUMBNAIL = #{thumbnail},
            UPDATE_DATE = SYSDATE
        WHERE
            MK_SEQ = #{mk_seq}
    </update>

    <!-- 상품 삭제 쿼리 -->
    <delete id="deleteMarketInfo" parameterType="MarketDTO">
        DELETE FROM MARKET
        WHERE MK_SEQ = #{mk_seq}
    </delete>

    <select id="getMarketUserChk" parameterType="String" resultType="String">
        SELECT USER_TYPE
        FROM USER_INFO
        WHERE USER_SEQ = #{sessionNo}
    </select>
</mapper>
