<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "=//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kopo.poly.persistance.mapper.IMypageMapper">
    <!-- 마이페이지 유저 정보 출력 쿼리 -->
    <select id="getMypageInfo" parameterType="MypageDTO" resultType="MypageDTO">
        select *
        from USER_INFO
        where USER_SEQ = #{user_seq}
    </select>

    <!-- 마이페이지 유저 정보 수정 쿼리 -->
    <update id="getMyInfoModify" parameterType="MypageDTO">
        update USER_INFO
        set USER_NAME = #{user_name}, USER_EMAIL = #{user_email}, USER_PW = #{user_pw}
        where USER_SEQ = #{user_seq}
    </update>

    <!-- 마이페이지 개인 마켓 정보 출력 쿼리 -->
    <select id="getMypageMarket" parameterType="MypageDTO" resultType="MarketDTO">
        SELECT *
        FROM MARKET
        WHERE USER_SEQ = #{user_seq}
        ORDER BY MK_SEQ DESC
        LIMIT #{start}, #{finish};
    </select>

    <!-- 개인 마켓 글 수 COUNT(*) -->
    <select id="getMyMarketCount" parameterType="MypageDTO" resultType="int">
        select count(*)
        from MARKET
        where USER_SEQ = #{user_seq}
    </select>

    <!-- 비밀번호 체크 -->
    <select id="myInfoChkPassword" parameterType="MypageDTO" resultType="int">
        select count(*)
        from USER_INFO
        where USER_PW = #{user_pw} and USER_SEQ = #{user_seq}
    </select>

    <!-- 비밀번호 체크 -->
    <delete id="myInfoWithdrawal" parameterType="String">
        delete
        from USER_INFO
        where USER_SEQ = #{sessionNo}
    </delete>

    <!-- 내 출석체크 현황 출력 -->
    <select id="getCheckDays" parameterType="int" resultType="CheckDTO">
        select *
        from CHECK_DAY
        where USER_SEQ = #{seq}
    </select>

    <!-- 출석체크 insert -->
    <insert id="insertCheck" parameterType="CheckDTO">
        insert into CHECK_DAY(USER_SEQ, CHK_DATE)
        values(#{user_seq},STR_TO_DATE(#{chk_date}, '%Y%m%d'))
    </insert>

    <!-- 오늘의 출석체크 현황 출력 -->
    <select id="getTodayCheck" parameterType="CheckDTO" resultType="int">
        select count(*)
        from CHECK_DAY
        where USER_SEQ = #{user_seq} and CHK_DATE = #{chk_date}
    </select>
</mapper>
