<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "=//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.persistance.mapper.INewsMapper">
    <insert id="insertNews_info" parameterType="NewsDTO">
        INSERT INTO NEWS_INFO
            (
             NEWS_SEQ,
             NEWS_SITE,
             NEWS_DEPARTMENT,
             NEWS_TITLE,
             NEWS_CONTENTS,
             NEWS_DATE,
             NEWS_URL
            )
            VALUES
                   (
                   (SELECT NVL(MAX(A.NEWS_SEQ),0)+1 FROM NEWS_INFO A),
                   #{news_site,jdbcType=VARCHAR},
                   #{news_department,jdbcType=VARCHAR},
                   #{news_title,jdbcType=VARCHAR},
                   #{news_contents,jdbcType=VARCHAR},
                   #{news_date,jdbcType=VARCHAR},
                   #{news_url,jdbcType=VARCHAR}
                  )
    </insert>

</mapper>